.editor-container {
  margin: 10px 0;
  padding: 7px;
  border: 2px solid green;
  border-radius: 5px;
}

.superFancyBlockquote {
  color: #999;
  font-family: "Hoefler Text", Georgia, serif;
  font-style: italic;
  text-align: center;
}
