.editor-container {
  margin: 10px 0;
  padding: 7px;
  border: 2px solid green;
  border-radius: 5px;
}

.textIndentation {
  text-indent: 3%;
}

.textAlignLeft {
  text-align: left;
}

.textAlignCenter {
  text-align: center;
}

.textAlignRight {
  text-align: right;
}

.textAlignJustify {
  text-align: justify;
}
